doctype html
html(lang="en")
    if session && session.loggedin
        title Search for artworks - #{session.username}
        link(rel="stylesheet" href="../css/styles.css")
        body
            include ../partials/header
            h3 Search for artworks:
            label(for="name") Artwork name: 
            input#name(type="text")
            br
            label(for="artistName") Artist name: 
            input#artistName(type="text")
            br
            label(for="category") Category: 
            input#category(type="text")
            br
            input#search(type="button",value="Search")
            div#results
            div#pageButton
            script(src="../js/searchArtworks.js",type="text/javascript")
    include ../partials/unauthorized